

body {
    font-family: 'Yeseva One';
}

  @font-face {
  font-family: "FuturaDemic";
  src: url("../assets/fonts/Futurademic.otf");
  }

  @font-face {
  font-family: "FuturaBookc";
  src: url("../assets/fonts/Futurabookc.otf");
  }

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
 
button {
  background-color: #E3B873;
  border: none;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border-radius: 2px;
  color: #fff;
}


/*====  header  ===*/
header {
  background-color: #131313;
}

nav {
  font-family: "FuturaDemic";
  font-weight: 400;
  font-size: 14px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  padding: 22px 0;
  padding-left: 100px;
  padding-right: 100px;

   .logo{ 
      a {
        font-family: "FuturaDemic";
        font-weight: 400;
        font-size: 14px;
        color: #E3B873;
        text-decoration: none;
        text-transform: uppercase;
      }
   }

   .menu {
      font-family: "FuturaBookc";
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-column-gap: 47px;  
      a {
        font-family: "FuturaBookc";
        color: #fff;
        text-decoration: none; 
      }
   }

   .tel {
      display: grid;
      justify-content: center;
      align-items: center;
      a{
        color: #E3B873;
      }
   }

   button {
      width: 160px;
      height: 37px;

   }
}


/*==== main slider block ====*/

.main-slider-block {
  background-color: #131313;

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 11fr;

  }
}

.side-bar {
  .side-bar_link {
    display: flex;
    align-items: center;
    a {
      font-family: "FuturaDemic";
      font-size: 14px;
      color: #E3B873;
      text-decoration: none;
      text-transform: uppercase;
    }

    &::after{
      display: block;
      content: '';
      height: 2px;
      width: 50px;
      background-color: #E3B873;

    }
  }
}

.main-slider {
  background: url("../assets/img/main-bg.jpg");
  background-repeat: no-repeat;

  height: 700px;
}

.main-slider_text {

} 